<template>
    <div>
        <template v-for="route in routes">
            <base-sidebar-list-item
                v-if=" (show(route) && route.children === undefined) || (show(route) && route.children.length === 0)"
                :icon="route.icon"
                :num="route.num"
                :to="route.to"
                :key="route.name"
                :exact="route.exact"
                @click="route.click !== undefined ? route.click : null"
            >{{ route.name }}</base-sidebar-list-item>

            <base-sidebar-list-title
                v-if="show(route) && route.children !== undefined && route.children.length"
                :key="route.name"
                :num="route.num"
                :title="route.name"
                :togglable="route.togglable"
                :open="route.open"
                :exact="route.exact"
                @click="route.click !== undefined ? route.click : null"
            >
                <base-sidebar-menu :routes="route.children" />
            </base-sidebar-list-title>
        </template>
    </div>
</template>
<script>
  export default {
    name: 'BaseSidebarMenu',
    props: {
      /**
       * [
       *  { name: 'name of menu', path: '', icon: null, num: null, click: null, open: true, children: [], exact: false }
       * ]
       */
      routes: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      show() {
        return (route) => {
          if (route.show === undefined) return true
          if (typeof route.show === 'boolean') return route.show
          if (typeof route.show === 'function')
            return route.show(route, this.routes)
          return true
        }
      }
    }
  }
</script>
