<template>
    <div :class="$style.sidebar">
        <div v-if="$slots.top" :class="$style.sidebarTop"><slot name="top" /></div>
        <base-sidebar-menu :class="$style.menu" :routes="routes" />
        <div v-if="$slots.bottom" :class="$style.sidebarBottom"><slot name="bottom" /></div>
    </div>
</template>
<script>
  export default {
    name: 'BaseSidebar',
    props: {
      /**
       * [
       *  { name: 'name of menu', path: '', num: null, click: null, open: true, children: [], exact: false }
       * ]
       */
      routes: {
        type: Array,
        default: () => []
      }
    },
    computed: {}
  }
</script>
<style lang="scss" module>
.sidebar {
    display: flex;
    flex-direction: column;
    <%- this.background(background) %>
    <%- this.width(width) %>
}
.menu {
    flex: 1;
}
</style>
