<template>
    <h2 :class="$style.title"><slot /></h2>
</template>
<script>
  export default {
    name: 'BaseBoxTitle'
  }
</script>
<style lang="scss" module>
    .title {
        margin: 0;
        <%- this.style(title) %>
    }
</style>
