<template>
    <div v-bind="$attrs" :class="classObject">
        <div :style="{ padding }">
            <slot />
        </div>
        <div v-if="$slots.footer" :class="$style.footer" :style="{ padding }">
            <slot name="footer" />
        </div>
    </div>
</template>
<script>
  export default {
    name: 'BaseBox',
    inheritAttrs: false,
    props: {
      type: {
        type: String,
        <% const defaultType = Object.keys(styles).find(style => styles[style].default === true); %>
        <% if (defaultType) { %>
        default: '<%- defaultType %>',
        <% } %>
        validator: (value) => [
          undefined,
          <%- this.enumString(styles) %>
        ].indexOf(value)
      },
      padding: {
        type: String,
        default: '0px'
      }
    },
    computed: {
      classObject() {
        return [
          this.$style[this.type],
          this.$style[this.color],
          this.$style.base_box
        ]
      }
    }
  }
</script>
<style lang="scss" module>
    .base_box {
        <%- radius ? this.radius(radius) : '' %>
        <%- Object.keys(styles).reduce((str, styleName) => {
          return str + `
            &.${styleName} {
                ${this.style(styles[styleName])}
                ${styles[styleName].footerDivide ? `
                &.footer {
                    ${this.border(styles[styleName].footerDivide.border)}
                }
                ` : ''}
            }
          `
        }, '') %>
    }
</style>
