@import "colors";

// About Header
$headerHeight: 50px;
$headerBackgroundColor: $white;
$headerTextColor: $black;

// header shadow condition
$headerShadow: true;
$headerShadowColor: rgba(0, 0, 0, 0.2);

// header bottom border
// set border style condition, if you want to set border.
$headerBottomBorder: 1px solid #ccc;
