@import "colors";

// About Sidebar
// sidebar Color for usual
$sidebarWidth: 200px;
$sidebarBackgroundColor: $blackLight;
$sidebarMenuHeaderBackgroundColor: $black;
$sidebarTextColor: $white;
// side color when active
$sidebarActiveBackgroundColor: $white;
$sidebarActiveTextColor: $blackLight;
